body {
  font-family: Arial, sans-serif;
  margin: 0;
/*  margin-left: 20px;*/
  padding: 0;
/*  background-image: url('your-image-url-here');
  background-repeat: repeat;*/
  background-color: white;
  background-size: auto;
  opacity: 0.8;
}

header {
  background-color: whitesmoke;
  color: black;
  text-align: left;
  padding: 20px;
/*  margin-left: 20px;*/
  text-indent: 20px;
  display: flex; /* Make the header a flex container */
  justify-content: space-between; /* Space items out horizontally */
  align-items: center; /* Center items vertically */
}

p {
  flex: 1; /* Expands to fill remaining space */
}


.profile-img {
  float: left;
  margin-right: 20px; /* Add some margin between the image and text */
  border: 1px solid #ccc; /* Add a border to the image */
  box-sizing: border-box; /* Include the border in the size of the element */
  width: 300px; /* Adjust the width of the image as needed */
  height: 300px; /* Adjust the height of the image as needed */
  object-fit: cover; /* Prevent the image from stretching */
}

.about p{
  font-size: 18px;
  line-height: 1.5;
/*  margin-left: 30px;*/
  margin-right: 0px;
  
}

.about {
  display: inline-block;
  align-items: center;
  margin-bottom: 20px;
}



nav {
  background-color: whitesmoke;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;  Make the list a flex container 
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: #000;
  font-weight: transform;
}

main {
  max-width: 800px;
  margin: 0 auto;
  margin-left: 60px;
  padding: 20px;
}

section {
  margin: 20px 0;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
/*  margin-left: 200px;*/
}

section ul {
  list-style: disc;
  margin-left: 20px;
  width:100%;
}
.project-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Change the number of columns as per your requirement */
  gap: 20px; /* Change the gap between cells as per your requirement */
  flex-direction: column; 
  width:100%;
  box-sizing: border-box;
}

.project-tile {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex:1;
  flex-direction: column; 
  width:100%;
  box-sizing: border-box;
}

.project-tile h3 {
  margin-top: 0;
  flex: 1;
    flex-direction: column; 
  width:100%;
  box-sizing: border-box;
}

.project-tile p {
  margin-bottom: 0;

  flex-direction: column; 
  width:100%;
  box-sizing: border-box;
}

.projects {
  background-color: whitesmoke;
  padding: 10px;
  display: flex;
  flex-direction: column; 
  width:100%;
  box-sizing: border-box;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
